<!DOCTYPE html>
<html>
<body>  
    
    <h1>Contact Form</h1> 
    <hr> 
    
    <p>Fill in this form to contact the site owners.</p> 
    
    <form action="{{ url_for('contact')}}" method="post"> 
    {{ form.csrf_token }}
    
    <h3>{{ form.name.label }}</h3>
    {{ form.name }}
 
    <h3>{{ form.email.label }}</h3>
    {{ form.email }}
 
    <h3>{{ form.subject.label }}</h3>
    {{ form.subject }}
 
    <h3>{{ form.message.label }}</h3>
    {{ form.message }}
 
    {{ form.submit }}
    </form>
    
</body>    
</html>